.securityCode{
    margin-top: 150px;
    color: $reng;
    .codeBox{
        width: 100%;
        height: 250px;
        border: 1px solid;
        box-shadow: 0 0 10px;
        .codeBoxHeader{
            padding: 10px 0;
            border-bottom: 1px solid;
            width: 80%;
            margin: 15px auto;
        }
        .codeBoxBody{
            width: 80%;
            margin: 0px auto;
            .codeboxInputs{
                margin: 30px auto;
                width:100%;
                .EnterCode{
                    width: 45%;
                    float: left;
                    margin-left: 40px;
                    
                }
                .continue{
                    width: 35%;
                    float: left;
                    background-color: $reng;
                    color: white;
                    margin-left: 10px;
                    
                    
                    
                }
            }
        }
    }
}