$reng:#70203e;
$color1: #f4f4f4;
$color2: #3197EE;
@import "login.scss";
@import "navbar.scss";
@import "groupTimeline.scss";
@import "ladystoreTimeline.scss";
@import "homeTimeline.scss";
@import "createGroup.scss";
@import "groups.scss";
@import "mesage.scss";
@import "profileSettings.scss";
@import "securityCode.scss";
@import "followers.scss";
@import "following.scss";
@import "forgotPassword.scss";
@import "ladyStore.scss";